:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 300ms;
}

body {
  margin: 0;
  padding: 0;
}

.search-form {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 111;
  background-color: #646ce4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-form input {
  max-width: 300px;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}

.search-form button {
  height: 40px;
  margin-left: -7px;
  padding: 0 20px;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  background: rgb(246, 248, 95);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 16px;
  padding: 10px;
  margin-top: 20px;
  list-style: none;
}

.photo-card {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.card-image:hover {
  transform: scale(1.3);
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.card-link {
  display: block;
  text-decoration: none;
  height: 250px;
  overflow: hidden;
}

.card-link:hover {
  cursor: zoom-in;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.loader {
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.loader-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #00d;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader-icon::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #f3e24d;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}
